.cabecalho {
  background-color: #343232;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  height: 70px;
  padding: 5px;
}
.valor{
    font-size: 25px;
    position: absolute;
    border-radius: 10px;
    padding: 15px;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    box-shadow: 5px 5px 5px 5px rgb(39, 38, 38);
}
.preco{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(78, 104, 233);
    font-size: 40px;
    padding: 10px;
}

.anuncio-titulo:hover {
  transform: translateY(-5px);
  transition: transform 0.9s ease;
  box-shadow: 5px 5px 5px 5px rgb(39, 38, 38);
}
.bi:hover {
  text-decoration: underline;
}
.cabecalho:hover {
  /* mudar o topo de cor quando mouse passar em cima*/
  background-color: gray;
}
.store {
  color: #0d6efd;
}

.maior-idade {
  color: rgb(255, 255, 255);
  border-radius: 3px;
  margin-left: 100px;
  width: 50px;
  height: 50px;
  padding-top: 7px;
  font-size: 25px;
  justify-content: center;
  display: inline;
}
.maior-idade:hover {
  transform: translateY(-5px);
  transition: transform 0.9s ease;
  box-shadow: 5px 5px 5px 5px rgb(39, 38, 38);
}
.texto-god {
  display: inline;
  font-family: cursive;
  color: rgb(12, 11, 11);
  font-size: 10px;
  padding: 10px;
}
.god-of-war {
  box-shadow: 1px 1px 1px 1px rgb(39, 38, 38);
  border-radius: 5px;
}

.cor-meio {
  color: rgb(185, 170, 170);
}
.jogo {
  background-color: #081933;
}


.nome-jogo {
  color: white;
  margin-top: 7px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.carcteristica {
  margin-left: 100px;
  color: gray;
}
.botao-preco {
  color: white;
  background-color: #1f385e;
  border-radius: 10px;
  padding: 5px;
  margin-right: 50px;
}




.hero {
  position: relative;
}
.hero img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
}
