.hero-text {
    font-family: 'Arial', sans-serif;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 15px;
  top: 20%;
  left: 55%;
  transform: translateY(-50%);
  color: rgb(255, 252, 252);
    box-shadow: 100px 15px 20px 25px rgba(0, 0, 0, 0.5);
}
.hero-text:hover{
  transform: translateY(-5px);
    transition: transform 0.9s ease;
    box-shadow: 5px 5px 5px 5px;
}
.improviso:hover{
    transform: translateY(-5px);
    transition: transform 0.9s ease;
    box-shadow: 5px 5px 5px 5px;
}